body {
  font-family: Arial, sans-serif;
  background: #c7cbd8; 
  display: flex;
  justify-content: center;
  padding: 20px;
}

.wrapper {
  width: 320px;
  background: white;
  padding: 20px;
  border-radius: 10px;

}

.card {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  text-align: center;
}

input {
  width: 90px;
  margin: 5px;
  padding: 5px;
}

button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #1e40af;
}

p {
  font-weight: bold;
  color: #333;
}
